<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meraki UI Components</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="space-y-6">
        <div class="flex items-center gap-x-2">
            <img class="object-cover w-8 h-8 rounded-lg" src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=faceare&facepad=3&w=688&h=688&q=100" alt="">
            
            <div>
                <h1 class="text-base font-semibold text-gray-700 capitalize dark:text-white">Mia John</h1>

                <p class="text-xs text-gray-500 dark:text-gray-400">miajohn@merakiui.com</p>
            </div>
        </div>

        <div class="flex items-center gap-x-2">
            <img class="object-cover w-10 h-10 rounded-lg" src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=faceare&facepad=3&w=688&h=688&q=100" alt="">
            
            <div>
                <h1 class="text-lg font-semibold text-gray-700 capitalize dark:text-white">Mia John</h1>

                <p class="text-sm text-gray-500 dark:text-gray-400">miajohn@merakiui.com</p>
            </div>
        </div>

        <div class="flex items-center gap-x-2">
            <img class="object-cover w-12 h-12 rounded-lg" src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=faceare&facepad=3&w=688&h=688&q=100" alt="">
            
            <div>
                <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">Mia John</h1>

                <p class="text-sm text-gray-500 dark:text-gray-400">miajohn@merakiui.com</p>
            </div>
        </div>

        <div class="flex items-center gap-x-2">
            <img class="object-cover w-16 h-16 rounded-lg" src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=faceare&facepad=3&w=688&h=688&q=100" alt="">
            
            <div>
                <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">Mia John</h1>

                <p class="text-base text-gray-500 dark:text-gray-400">miajohn@merakiui.com</p>
            </div>
        </div>
    </div>
</body>

</html>