<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meraki UI Components</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <section class="bg-white dark:bg-gray-900">
        <div class="container flex flex-col items-center px-4 py-12 mx-auto text-center">
            <h2 class="max-w-2xl mx-auto text-2xl font-semibold tracking-tight text-gray-800 xl:text-3xl dark:text-white">
                Bring your Business to the <span class="text-blue-500">next level.</span>
            </h2>

            <p class="max-w-4xl mt-6 text-center text-gray-500 dark:text-gray-300">
                Lorem, ipsum dolor sit amet consectetur
                adipisicing elit. Cum quidem officiis reprehenderit, aperiam veritatis non, quod veniam fuga possimus hic
                explicabo laboriosam nam. A tempore totam ipsa nemo adipisci iusto!
            </p>

            <div class="inline-flex w-full mt-6 sm:w-auto">
                <a href="#" class="inline-flex items-center justify-center w-full px-6 py-2 text-white duration-300 bg-blue-600 rounded-lg hover:bg-blue-500 focus:ring focus:ring-blue-300 focus:ring-opacity-80">
                    Sign Up
                </a>
            </div>
        </div>
    </section>
</body>

</html>