<meta name="uuid" content="7a8ee118-c855-436d-97f6-fe6ee5e2a8f4" />
<meta name="name" content="Line" />
<meta name="category" content="tabs" />
<meta name="order_column" content="1" />
<meta name="center" content="1" />

<!--- Component -->

<div class="inline-flex border-b border-gray-200 dark:border-gray-700">
    <button class="h-10 px-4 py-2 -mb-px text-sm text-center text-blue-600 bg-transparent border-b-2 border-blue-500 sm:text-base dark:border-blue-400 dark:text-blue-300 whitespace-nowrap focus:outline-none">
        Profile
    </button>

    <button class="h-10 px-4 py-2 -mb-px text-sm text-center text-gray-700 bg-transparent border-b-2 border-transparent sm:text-base dark:text-white whitespace-nowrap cursor-base focus:outline-none hover:border-gray-400">
        Account
    </button>

    <button class="h-10 px-4 py-2 -mb-px text-sm text-center text-gray-700 bg-transparent border-b-2 border-transparent sm:text-base dark:text-white whitespace-nowrap cursor-base focus:outline-none hover:border-gray-400">
        Notification
    </button>
</div>
