<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meraki UI Components</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <section class="bg-white dark:bg-gray-900">
        <div class="container px-6 py-8 mx-auto animate-pulse">
            <div class="text-center">
                <p class="w-32 h-2 mx-auto bg-gray-200 rounded-lg dark:bg-gray-700"></p>

                <div class="flex flex-wrap justify-center gap-4 mt-10">
                    <p class="w-24 h-2 bg-gray-200 rounded-lg dark:bg-gray-700"></p>
                    <p class="w-24 h-2 bg-gray-200 rounded-lg dark:bg-gray-700"></p>
                    <p class="w-24 h-2 bg-gray-200 rounded-lg dark:bg-gray-700"></p>
                    <p class="w-24 h-2 bg-gray-200 rounded-lg dark:bg-gray-700"></p>
                    <p class="w-24 h-2 bg-gray-200 rounded-lg dark:bg-gray-700"></p>
                </div>

            </div>

            <hr class="my-6 border-gray-200 md:my-10 dark:border-gray-700" />

            <div class="flex flex-col items-center sm:flex-row sm:justify-between">
                <p class="w-24 h-2 bg-gray-200 rounded-lg dark:bg-gray-700"></p>

                <p class="w-64 h-2 bg-gray-200 rounded-lg dark:bg-gray-700"></p>
            </div>
        </div>
    </section>
</body>

</html>