<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meraki UI Components</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <section class="bg-white dark:bg-gray-900">
        <div class="container flex flex-col items-center justify-between p-6 mx-auto space-y-4 animate-pulse sm:space-y-0 sm:flex-row">
            <p class="w-32 h-2 bg-gray-200 rounded-lg dark:bg-gray-700"></p>
            <p class="w-48 h-2 bg-gray-200 rounded-lg dark:bg-gray-700"></p>
            <p class="w-64 h-2 bg-gray-200 rounded-lg dark:bg-gray-700"></p>
        </div>
    </section>
</body>

</html>