@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tajawal:300,400,500,700&display=swap&subset=arabic');

@tailwind base;

@tailwind components;

::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track{
    background: #2D3748;
  }
  ::-webkit-scrollbar-thumb{
    background: #CBD5E0;
  }
  ::-webkit-scrollbar-thumb:hover{
    background: #718096;
  }

@tailwind utilities;