<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meraki UI Components</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <section class="bg-white dark:bg-gray-900">
        <div class="container px-6 py-10 mx-auto">
            <div class="flex items-center justify-between">
                <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">recent posts </h1>

                <button class="focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-600 transition-colors duration-300 transform dark:text-gray-400 hover:text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                </svg>
                </button>
            </div>

            <hr class="my-8 border-gray-200 dark:border-gray-700">

            <div class="grid grid-cols-1 gap-8 md:grid-cols-2 xl:grid-cols-3">
                <div>
                    <img class="object-cover object-center w-full h-64 rounded-lg lg:h-80" src="https://images.unsplash.com/photo-1624996379697-f01d168b1a52?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="">

                    <div class="mt-8">
                        <span class="text-blue-500 uppercase">category</span>

                        <h1 class="mt-4 text-xl font-semibold text-gray-800 dark:text-white">
                            What do you want to know about UI
                        </h1>

                        <p class="mt-2 text-gray-500 dark:text-gray-400">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam est asperiores vel, ab animi
                            recusandae nulla veritatis id tempore sapiente
                        </p>

                        <div class="flex items-center justify-between mt-4">
                            <div>
                                <a href="#" class="text-lg font-medium text-gray-700 dark:text-gray-300 hover:underline hover:text-gray-500">
                                    John snow
                                </a>

                                <p class="text-sm text-gray-500 dark:text-gray-400">February 1, 2022</p>
                            </div>

                            <a href="#" class="inline-block text-blue-500 underline hover:text-blue-400">Read more</a>
                        </div>

                    </div>
                </div>

                <div>
                    <img class="object-cover object-center w-full h-64 rounded-lg lg:h-80" src="https://images.unsplash.com/photo-1590283603385-17ffb3a7f29f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="">

                    <div class="mt-8">
                        <span class="text-blue-500 uppercase">category</span>

                        <h1 class="mt-4 text-xl font-semibold text-gray-800 dark:text-white">
                            All the features you want to know</h1>

                        <p class="mt-2 text-gray-500 dark:text-gray-400">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam est asperiores vel, ab animi
                            recusandae nulla veritatis id tempore sapiente
                        </p>

                        <div class="flex items-center justify-between mt-4">
                            <div>
                                <a href="#" class="text-lg font-medium text-gray-700 dark:text-gray-300 hover:underline hover:text-gray-500">
                                    Arthur Melo
                                </a>

                                <p class="text-sm text-gray-500 dark:text-gray-400">February 6, 2022</p>
                            </div>

                            <a href="#" class="inline-block text-blue-500 underline hover:text-blue-400">Read more</a>
                        </div>

                    </div>
                </div>

                <div>
                    <img class="object-cover object-center w-full h-64 rounded-lg lg:h-80" src="https://images.unsplash.com/photo-1597534458220-9fb4969f2df5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" alt="">

                    <div class="mt-8">
                        <span class="text-blue-500 uppercase">category</span>

                        <h1 class="mt-4 text-xl font-semibold text-gray-800 dark:text-white">
                            Which services you get from Meraki UI
                        </h1>

                        <p class="mt-2 text-gray-500 dark:text-gray-400">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam est asperiores vel, ab animi
                            recusandae nulla veritatis id tempore sapiente
                        </p>

                        <div class="flex items-center justify-between mt-4">
                            <div>
                                <a href="#" class="text-lg font-medium text-gray-700 dark:text-gray-300 hover:underline hover:text-gray-500">
                                    Tom Hank
                                </a>

                                <p class="text-sm text-gray-500 dark:text-gray-400">February 19, 2022</p>
                            </div>

                            <a href="#" class="inline-block text-blue-500 underline hover:text-blue-400">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>